<p id="notice"><%= notice %></p>
<p>
  <b>Id:</b>
  <%= @protein_sequence_variant.id %>
</p>
<p>
  <b>Variant id:</b>
  <%= @protein_sequence_variant.variant_id %>
</p>
<p>
  <b>Ensembl protein id:</b>
  <%= @protein_sequence_variant.ensembl_protein_id %>
</p>
<p>
  <b>Sequence length:</b>
  <%= @protein_sequence_variant.sequence_length %>
</p>
<p>
  <b>Strand:</b>
  <%= @protein_sequence_variant.strand %>
</p>
<p>
  <b>Codon change:</b>
  <%= @protein_sequence_variant.codon_change %>
</p>
<p>
  <b>Position</b>
  <%= @protein_sequence_variant.position %>
</p>
<p>
  <b>Residue reference:</b>
  <%= @protein_sequence_variant.residue_reference %>
</p>
<p>
  <b>Residue alternative:</b>
  <%= @protein_sequence_variant.residue_alternative %>
</p>
<p>
  <b>Variant type:</b>
  <%= @protein_sequence_variant.variant_type %>
</p>


