<p id="notice"><%= notice %></p>
<p>
  <b>Id:</b>
  <%= @protein_sequence_variant.id %>
</p>
<p>
  <b>Variant id:</b>
  <%= @protein_sequence_variant.variant_id %>
</p>
<p>
  <b>Ensembl protein id:</b>
  <%= @protein_sequence_variant.ensembl_protein_id %>
</p>
<p>
  <b>Sequence length:</b>
  <%= @protein_sequence_variant.sequence_length %>
</p>
<p>
  <b>Strand:</b>
  <%= @protein_sequence_variant.strand %>
</p>
<p>
  <b>Codon change:</b>
  <%= @protein_sequence_variant.codon_change %>
</p>
<p>
  <b>Position</b>
  <%= @protein_sequence_variant.position %>
</p>
<p>
  <b>Residue reference:</b>
  <%= @protein_sequence_variant.residue_reference %>
</p>
<p>
  <b>Residue alternative:</b>
  <%= @protein_sequence_variant.residue_alternative %>
</p>
<p>
  <b>Variant type:</b>
  <%= @protein_sequence_variant.variant_type %>
</p>
<p>
  <b>Provean score:</b>
  <%= @protein_sequence_variant.provean_score %>
</p>
<p>
  <b>Provean prediction:</b>
  <%= @protein_sequence_variant.provean_prediction	%>
</p>
<p>
  <b>Provean seq:</b>
  <%= @protein_sequence_variant.provean_seq %>
</p>
<p>
  <b>Provean cluster:</b>
  <%= @protein_sequence_variant.provean_cluster %>
</p>
<p>
  <b>Sift score	:</b>
  <%= @protein_sequence_variant.sift_score %>
</p>
<p>
  <b>Sift prediction:</b>
  <%= @protein_sequence_variant.sift_prediction %>
</p>
<p>
  <b>Sift median info:</b>
  <%= @protein_sequence_variant.sift_median_info %>
</p>
<p>
  <b>Sift seq:</b>
  <%= @protein_sequence_variant.sift_seq	 %>
</p>
<p>
  <b>Db SNP id:</b>
  <%= @protein_sequence_variant.db_snp_id	 %>
</p>
			

				
		
				
		
	
					
				


