  <tr>
    <td class="sample">
    	<%= sample_row.subject.name %>
    </td>
  	<td class="sample">
  		<%= sample_row.genotype %>
  	</td>
  	<td class="sample">
  		<%= sample_row.total_read_depth %>
  	</td>
  	<td class="sample">
  		<%= sample_row.conditional_genotype_quality  %>
  	</td>
  	<td class="sample">
  		<%= sample_row.genotype_likelihood %>
  	</td>
  	<td class="sample">
  		<%= sample_row.allele_read_depth %>
  	</td>
  </tr>
