<table>
	<tr>
	  <th class="header" >
	  	<b>Name:</b>
	  </th>
		<th class="header" >
			<b>Genotype:</b>
  	</th>
  	<th class="header" >
			<b>Total read depth:</b>
  	</th>
  	<th class="header" >
			<b>Conditional genotype quality:</b>
  	</th>
  	<th class="header" >
			<b>Genotype likelihood:</b>
  	</th>
  	<th class="header" >
			<b>Allele read depth:</b>
  	</th>
  </tr>
  <tr>
    <td>
    	<%= sample.subject.name %>
    </td>
  	<td>
  		<%= sample.genotype %>
  	</td>
  	<td>
  		<%= sample.total_read_depth %>
  	</td>
  	<td>
  		<%= sample.conditional_genotype_quality %>
  	</td>
  	<td>
  		<%= sample.genotype_likelihood %>
  	</td>
  	<td>
  		<%= sample.allele_read_depth %>
  	</td>
  </tr>
</table>

