<h1>Listing samples</h1>

<table>
  <tr>
    <th class="header" ><%= sort_link(@search, :id, "Id") %></th>
    <th class="header" ><%= sort_link(@search, :name, "Name") %></th>
    <th class="header" ><%= sort_link(@search, :data, "Data") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= sample.id %></td>
    <td><%= sample.name %></td>
    <td><%= sample.data %></td>
    <td><%= button_to 'Show', sample, method: :get, class: 'btn btn-success' %></td>
    <td><%= button_to 'Edit', edit_sample_path(sample), method: :get, class: 'btn btn-warning' %></td>
    <td><%= button_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
<%= paginate @samples %>
<%= render :partial => 'search_partial' %>
<%= link_to 'New Sample', new_sample_path %>
