<h1>Listing samples</h1>

<table>
  <tr>
    <th><%= sort_link(@search, :id, "Id") %></th>
    <th><%= sort_link(@search, :name, "Name") %></th>
    <th><%= sort_link(@search, :data, "Data") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= sample.id %></td>
    <td><%= sample.name %></td>
    <td><%= sample.data %></td>
    <td><%= link_to 'Show', sample %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <td><%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @samples %>
<%= render :partial => 'search_partial' %>
<%= link_to 'New Sample', new_sample_path %>
