<h1>Listing disorders</h1>
<%= button_to 'New Disorder', new_disorder_path, method: :get, class: 'btn btn-success' %>
<table>
  <tr>
    <th class="header" ><%= sort_link(@search, :id, "Id") %></th>
    <th class="header" ><%= sort_link(@search, :omim_id, "OMIM Id") %></th>
    <th class="header" ><%= sort_link(@search, :disorder_omim_id, "OMIM disorder Id") %></th>
    <th class="header" ><%= sort_link(@search, :name, "Disorder name") %></th>
    <th class="header" ><%= sort_link(@search, :disorder_type, "Disorder type") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disorders.each do |disorder| %>
  <tr>
    <td><%= disorder.id %></td>
    <td><%= link_to disorder.omim_id, "http://www.omim.org/entry/#{disorder.omim_id}" %></td>
    <td><%= disorder.disorder_omim_id %></td>
    <td><%= disorder.name %></td>
    <td><%= disorder.disorder_type %></td>
    <td><%= button_to 'Show', disorder, method: :get, class: 'btn btn-success' %></td>
    <td><%= button_to 'Edit', edit_disorder_path(disorder), method: :get, class: 'btn btn-warning' %></td>
    <td><%= button_to 'Destroy', disorder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
<%= paginate @disorders %>
<%= render :partial => 'search_partial' %>

