<p id="notice"><%= notice %></p>
<p>
  <b>Id:</b>
  <%= @disorder.id %>
</p>
<p>
  <b>OMIM Id:</b>
  <%= @disorder.omim_id %>
</p>
<p>
  <b>Disorder OMIM Id:</b>
  <%= @disorder.disorder_omim_id %>
</p>
<p>
  <b>Name:</b>
  <%= @disorder.name %>
</p>
<p>
  <b>Type:</b>
  <%= @disorder.disorder_type %>
</p>

<table>
<%= render :partial => 'genes/gene_row', :collection => @disorder.genes %>
</table>
<%= link_to 'Edit', edit_disorder_path(@disorder) %> |
<%= link_to 'Back', disorders_path %>
