<%= form_for(@chromosome) do |f| %>
  <% if @chromosome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chromosome.errors.count, "error") %> prohibited this chromosome from being saved:</h2>

      <ul>
      <% @chromosome.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
