<h1>Listing chromosomes</h1>

<table>
  <tr>
    <th class="header" >Id</th>
    <th class="header" >Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chromosomes.each do |chromosome| %>
  <tr>
    <td><%= chromosome.id %></td>
    <td><%= chromosome.name %></td>
    <td><%= button_to 'Show', chromosome, method: :get, class: 'btn btn-success' %></td>
    <td><%= button_to 'Edit', edit_chromosome_path(chromosome), method: :get, class: 'btn btn-warning' %></td>
    <td><%= button_to 'Destroy', chromosome, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

