<h1>Listing chromosomes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chromosomes.each do |chromosome| %>
  <tr>
    <td><%= chromosome.name %></td>
    <td><%= link_to 'Show', chromosome %></td>
    <td><%= link_to 'Edit', edit_chromosome_path(chromosome) %></td>
    <td><%= link_to 'Destroy', chromosome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chromosome', new_chromosome_path %>
