<p id="notice"><%= notice %></p>
<p>
  <b>Id:</b>
  <%= @subject.id %>
</p>
<p>
  <b>name:</b>
  <%= @subject.name %>
</p>
<table>
<%= render :partial => 'variants/variant_row', :collection => @variants %>
</table>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
