  <thead>
	<tr>
	  <th class="header" >
	  	<b>Variant id:</b>
	  </th>
		<th class="header" >
			<b>Chromosome name:</b>
  	</th>
  	<th class="header" >
			<b>Genomic start position:</b>
  	</th>
  	<th class="header" >
			<b>Name:</b>
  	</th>
  	<th class="header" >
			<b>Reference:</b>
  	</th>
  	<th class="header" >
			<b>Alternative:</b>
  	</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= link_to variant_row.id, variant_path(variant_row)  %>
    </td>
  	<td>
  		<%= variant_row.location.chromosome.name %>
  	</td>
  	<td>
  		<%= variant_row.location.position_start %>
  	</td>
  	<td>
  		<%= variant_row.name %>
  	</td>
  	<td>
  		<%= variant_row.reference %>
  	</td>
  	<td>
  		<%= variant_row.alternative %>
  	</td>
  </tr>
  </tbody>

