<h1>Listing variants</h1>
<% if Sidekiq::Client.registered_workers.length == 0 %>
<span id="batch_button"><%= button_to "Batch query biomart", batch_query_biomart_variants_path, method: :get, id: "batch_link", remote: true, class: 'btn btn-success' %></span>
<span id="batch_button"><%= button_to "Batch query provean", batch_query_provean_variants_path, method: :get, id: "batch_link", remote: true, class: 'btn btn-success' %></span>
<span id="batch_update" style="display:none"><%= image_tag("loader.gif") %>Updating... <%= Sidekiq::Client.registered_workers.length %> worker(s) in Queue. check <%= link_to "Sidekiq", "/sidekiq"  %> for current worker status</span>
<% else %>
<span id="batch_update"><%= image_tag("loader.gif") %>Updating... <%= Sidekiq::Client.registered_workers.length %> worker(s) in Queue. Check <%= link_to "Sidekiq", "/sidekiq"  %> for status</span>
<% end %>
<table>
  <tr>
    <th class="header" ><%= sort_link(@search, :id, "Id") %></th>
    <th class="header" ><%= sort_link(@search, :location_chromosome_name, "Chromosome") %></th>
    <th class="header" ><%= sort_link(@search, :name, "Variant name") %></th>
    <th class="header" ><%= sort_link(@search, :location_position_start, "Position start") %></th>
    <th class="header" ><%= sort_link(@search, :reference, "Reference") %></th>
    <th class="header" ><%= sort_link(@search, :alternative, "Alternative") %></th>
    <th class="header" >Gene</th>
    <th class="header" >Provean</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @variants.each do |variant| %>
  <tr>
    <td><%= variant.id %></td>
    <td><%= variant.location.chromosome.name %></td>
    <td><%= variant.name %></td>
    <td><%= link_to variant.location.position_start, "http://www.ensembl.org/Homo_sapiens/Location/View?db=core;r=#{variant.location.chromosome.name}:#{variant.location.position_start}" %></td>
    <td><%= variant.reference %></td>
    <td><%= variant.alternative %></td>
    <td><%= variant.gene_name %></td>
    <td><% if !variant.protein_sequence_variants.empty? %>
    <% variant.protein_sequence_variants.pluck(:id).each do |id| %>
    <%= button_to "Provean", protein_sequence_variants_path(:id => id), method: :get, :class=> "btn" %>
    <% end %>
    <% end %>
    </td>
    <td><%= button_to 'Biomart', query_biomart_variant_path(variant), method: :get, class: 'btn btn-primary' %></td>
    <td><%= button_to 'Provean', query_provean_variant_path(variant), method: :get, class: 'btn btn-primary' %></td>
    <td><%= button_to 'Show', variant, method: :get, class: 'btn btn-success' %></td>
    <td><%= button_to 'Edit', edit_variant_path(variant), method: :get, class: 'btn btn-warning' %></td>
    <td><%= button_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
<%= paginate @variants %>
<%= render :partial => 'search_partial' %>
