<p id="notice"><%= notice %></p>
<% if @gene %>
<%= render :partial => 'genes/gene', locals: { gene: @gene} %>
<% end %>
<%= render :partial => 'variants/variant', locals: { variant: @variant} %>
<%= render :partial => 'quality_records/quality_record', :collection => @variant.quality_records %>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
