<%= form_for(@gene) do |f| %>
  <% if @gene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gene.errors.count, "error") %> prohibited this gene from being saved:</h2>

      <ul>
      <% @gene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :external_gene_id %><br />
    <%= f.text_field :external_gene_id %>
  </div>
  <div class="field">
    <%= f.label :ensembl_gene_id %><br />
    <%= f.text_field :ensembl_gene_id %>
  </div>
  <div class="field">
    <%= f.label :transcript_count %><br />
    <%= f.text_field :transcript_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
