<h1>Listing genes</h1>

<table>
  <tr>
    <th><%= sort_link(@search, :id, "Id") %></th>
    <th><%= sort_link(@search, :external_gene_id, "External Gene Id") %></th>
    <th><%= sort_link(@search, :ensembl_gene_id, "Ensembl Gene Id") %></th>
    <th><%= sort_link(@search, :transcript_count, "Transcript Count") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @genes.each do |gene| %>
  <tr>
    <td><%= gene.id %></td>
    <td><%= gene.external_gene_id %></td>
    <td><%= link_to gene.ensembl_gene_id, "http://www.ensembl.org/Homo_sapiens/Location/View?db=core;g=#{gene.ensembl_gene_id}" %></td>
    <td><%= gene.transcript_count %></td>
    <td><%= link_to 'Show', gene %></td>
    <td><%= link_to 'Edit', edit_gene_path(gene) %></td>
    <td><%= link_to 'Destroy', gene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @genes %>
<%= render :partial => 'search_partial' %>
<%= link_to 'New Gene', new_gene_path %>
