<p id="notice"><%= notice %></p>
<table>
<%= render :partial => 'genes/gene_row', locals: {gene_row: @gene} %>
</table>
<table>
<%= render :partial => 'variants/variant_row', :collection => @variants %>
</table>

<%= link_to 'Edit', edit_gene_path(@gene) %> |
<%= link_to 'Back', genes_path %>
